.App-header {
  background-color: #3f4144;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-column {
  width: 75%;
}

.main-container {
  display: flex;
}

.settings-icon {
  height: 50%;
  margin: 20px;

  pointer-events: none;
}

.hamburger-icon {
  height: 70%;
  margin: 20px;

  pointer-events: none;
}
