.main-column {
  width: 75%;
}

.main-container {
  display: flex;
}

.settings-icon {
  height: 50%;
  margin: 20px;

  pointer-events: none;
}

.hamburger-icon {
  height: 70%;
  margin: 20px;

  pointer-events: none;
}
